body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 40%;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
    margin-top: 50px;
    border-radius: 10px;
}

.input-group {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

button {
    padding: 10px;
    border: none;
    background: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid gray;
}

th {
    background: #007BFF;
    color: white;
}

.delete-btn {
    background: red;
}

/* Modal Background -------------------=========================*/
.modal {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(216, 45, 45, 0.4);
}

/* Modal Content */
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
}

/* Input Fields */
input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Buttons */
button {
    padding: 10px 15px;
    margin: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}